.pagelistButton {
    margin-top: 20px;
    display: block;
}

.listButton {
    margin-top: 20px;
    display: block;
}

.optionButton {
    display: inline-block;
    margin-left: 20px;
}

.optionButtonSelect, .optionButtonSelect:hover {
    display: inline-block;
    background-color: red;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.listForm {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titlePage {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.formFlex {
    flex: 300px;
    margin-left: 30px;
}

.inputForm {
    width: 90%;
}

.titleFlex {
    text-align: center;
    margin-right: 5%;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.noteJob {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.noteInputbyfile {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}


.childWarning {
    color: red;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.successNotify {
    color: green;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}


.childSuccessNotify {
    color: green;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.firstPageFlex {
    display: flex
}

.secondPageFlex {
    display: flex
}