* {
    padding: 0;
    margin: 0;
}

.account-main-page {
    width: 97%;
    margin: 3vh 1vw 0 0;
    display: flex;
    justify-content: center;
}

.account-table {
    width: 70vw;
    margin-right: 3vw;
    flex: 4
}

th, td {
    text-align: center;
    font-size: 15px;
}

.account-option-list {
    display: flex;
    width: 18%;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.account-option {
    width: 80%;
    max-width: 200px;
    margin-bottom: 3vh;
}

.account-declaration {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.noteWarning {
    text-align: center;
    font-size: 14px;
    color: red;
    font-weight: bold;
}

.checked {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.iconChecked {
    margin-right: 5px;
    width: 18px;
    height: 18px
}

.checked:hover {
    color: blue;
    cursor: pointer;
}

.warningChecked {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.successChecked {
    color: rgb(5, 164, 50);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}


.tableAccount {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid grey;
}

thead {
    background-color: #3F72AF;
    color: white;
    font-size: 14px;
    border: 2px solid grey;
    height: 1cm;
}

td {
    background-color: azure;
    font-size: 14px;
    font-weight: bold;
    height: 1cm;
}

.countDownDeclaration {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(108, 238, 108);
}

.timeStamp {
    font-size: 18px;
    margin-bottom: 10px;
    color: black
}

.titleDeclaration {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.statusDeclaration {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.logoCountDown {
    height: 130px;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.noteWarning {
    text-align: center;
    font-size: 15px;
    color: red;
    font-weight: bold;
}
