.flex_citizen_first {
    align-items: center;
    border-right: 2px solid black;
    width: 40%;
    text-align: center;
    margin-top: 20px;
}

.flex_citizen_second {
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.titleCitizen {
    font-size: 20px;
    font-weight: 600;
}

.countCitizen {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
}

.tableResidentialInHamlet {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


#detailed-resident-info-header {
    display: flex;
    margin: 10px;
}

#detailed-resident-info-title {
    margin: 0 0 0 20px;
}

.detailed-resident-info-table {
    border: 4px solid aqua;
    margin-left: 20px;
}

.detailed-resident-info-table .row-head {
    width: 15vw;
}