div {
    font-family: Arial, Helvetica, sans-serif;
}

.headerPage {
    height: 50px;
    position: relative;
}

.logoIcon {
    width: 95px;
    height: 95px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}

.logoIcon:hover {
    cursor: pointer;
}

.listOptions {
    background-color: #d8d8d8;
    height: 60px;
}

.option {
    /* width: calc(100%/7); */
    min-width: 12vw;
    color: rgb(0, 0, 133);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 18px;
}

.option:hover {
    background-color: #3f72af;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.nameApp {
    margin-left: 115px;
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    margin-top: 5px;
}

.formLogout {
    background-color: #3f72af;
    width: 15%;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    padding: 7px;
    color: white;
    font-weight: 600;
    text-align: left;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.iconLogout {
    display: inline-block;
    float: right;
    margin-top: 4px;
    margin-right: 5px;
}

.iconLogout:hover {
    cursor: pointer;
    color: red;
}

.sub-nav {
    display: none;
}

@media screen and (max-width: 1100px) {
    .sub-option-list {
        display: none;
        position: absolute;
    }

    .listOptions>.option {
        display: none;
    }

    .listOptions {}

    .listOptions .sub-nav:hover .sub-option-list {
        display: block;
        position: absolute;
        min-width: 25vw;
        background-color: #d8d8d8;
        text-align: center;
    }

    .sub-nav {
        display: block;
        float: right;
        background-color: #3f72af;
        color: white;
        text-align: center;
        min-width: 25vw;
        min-height: 100%;
        position: relative;
    }

    #icon-sub-nav {
        text-align: center;
        display: inline-block;
    }

    .sub-option {
        /* width: calc(100%/7); */
        min-width: 100%;
        color: rgb(0, 0, 133);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        height: 100%;
        display: inline-block;
        padding: 18px;
    }

    .sub-option:hover {
        background-color: #3f72af;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-weight: 600;
    }
}

.iconAccount {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}