.optionInput {
    width: 300px;
    float: right;
    margin-right: 30px;
}

.title{
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.selectOption {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.flexStatic {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.tableResidentialInHamlet {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.flex_second {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.titleStatic {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.chartStatic {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.flex_first {
    align-items: center;
    width: 30%;
    margin-top: 30px;
    border: 2px solid black;
}

.flex_second {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.optionStatic {
    margin-left: 10px;
    margin-bottom: 10px;
}

.optionStatic:hover {
    cursor: pointer;
}

.chartLine {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.flex-year {
    display: flex;
    margin-bottom: 20px;
}

.formInput {
    margin-right: 20px;
    display: flex;
}

.titleSelectYear {
    margin-bottom: 20px;
    font-weight: bold;
}