.optionInput {
    width: 300px;
    float: right;
    margin-right: 30px;
}

.title {
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.selectOption {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.flexStatic {
    display: flex;
}

.tableResidentialInHamlet {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.flex_second {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.titleStatic {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.chartStatic {
    width: 80%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.flex_first {
    align-items: center;
    width: 30%;
    border: 2px solid black;
}

.flex_second {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.chartLine {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.flex-year {
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.flexFormInput {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.formInput {
    margin-right: 20px;
    display: flex;
}

.formInputMultiOption {
    margin-right: 20px;
    display: flex;
    margin-left: 5%;
}

.titleSelectYear {
    margin-bottom: 20px;
    font-weight: bold;
}

.selectMultiOption {
    width: 60%;
}

.statisOption {
    width: 20%;
    border-right: 3px solid black;
    top: 0%
}

.statisOption .title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.statisOption .buttonOption {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    height: 50px;
    background-color: rgb(130, 91, 237);
}

.statisOption .buttonOption:hover {
    cursor: pointer;
    background-color: rgb(173, 150, 237)
}

.buttonChildOption {
    text-align: center;
    border-bottom: 2px solid black;
    background-color: rgb(91, 191, 237);
    font-weight: bold;
    font-size: 14px;
}

.buttonChildOption:hover {
    cursor: pointer;
    background-color: rgb(150, 217, 237)
}

.statisOption .buttonOption .titleOption {
    padding-top: 12px;
    font-weight: bold;
    font-size: 15px;
}

.optionStatic {
    margin-left: 20%;
    margin-bottom: 10px;
}

.optionStatic:hover {
    cursor: pointer;
}

.noteStatis {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    font-style: italic;
}

.tableResidentialInHamlet {
    width: 60%;
}