.buttonIcon {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.buttonAdd {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.tableResidential {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px solid grey;
}

thead {
    background-color: #3F72AF;
    color: white;
    font-size: 14px;
    border: 2px solid grey;
    height: 1cm;
}

td {
    background-color: azure;
    font-size: 14px;
    font-weight: 400;
    height: 1cm;
}


#detailed-resident-info-header {
    display: flex;
    margin: 10px;
}

#detailed-resident-info-title {
    margin: 0 0 0 20px;
}

.detailed-resident-info-table {
    margin-left: 20px;

}

.detailed-resident-info-table .row-head {
    width: 15vw;
}

.returnButton {
    margin-left: 10px;
}

.tableInfo {
    width: 80%;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px; 
    margin-top: 0px;
}
