div {
  font-family: Arial, Helvetica, sans-serif;
}

.Login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6%;
}

.flex_login {
  padding: 10px;
  margin: 10px;
  flex: 500px;
  text-align: center;
}

.logoLogin {
  width: 70%;
}

.formLogin {
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  width: 90%;
}

.titleLogin {
  font-size: 40px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 10px;
}

.titleUser {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  float: left;
}

.form {
  width: 80%;
  margin: auto
}

.buttonLogin {
  margin-bottom: 20px;
  margin-top: 50px;
}

@media screen and (max-width: 1050px) {
  .formLogin {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
    width: 90%;
    margin: auto
  }
}